@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: #0d1117;
  color: #e6edf3;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0d1117;
}
::-webkit-scrollbar-thumb {
  background: #21262d;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #30363d;
}
